* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    min-width: 150px;
    background-color: #068e93;
    top:50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000000;
}

.head {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    background-color: #156669;
    text-align: center;
    justify-content: space-evenly;
}

#logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.centralizaTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.controladorList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    font-family: "Elms Sans", sans-serif;
}

.listPages {
    color: white;
    background-color: rgb(6, 6, 105);
    border-radius: 5% !important;
    text-decoration: none;
    font-size: 1.2em !important;
    cursor: pointer;
    transition: 0.5s;
}

#page0:hover,
#page1:hover,
#page2:hover,
#page3:hover,
#page4:hover,
#page5:hover {
    transform: scale(1.1);
    background-color: rgba(97, 223, 181, 0.5);
    z-index: 10;
    transition: 0.5s;
}

.btnNavegador {
    display: flex !important;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#btnMobile {
    display: none;
}

@media (max-width: 2200px) {

    .btnNavegador {
        font-size: 1.2em;
    }
}



@media (max-width: 1840px) {

    .head {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 140px;
        padding: 0px !important;
        z-index: 10000;
    }

    .userImage {
        position: relative;
        top: -0px !important;
        margin-left: auto;
    }


    .centralizaTexto {
        margin: 0px;
    }

    #btnMobile {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
    }

    .efectsBtn {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 25%;
    }

    .efectsBtn.active {
        animation: activeBtn 1s forwards;
    }

    .efectsBtn.desactive {
        animation: DesactiveBtn 1s forwards;
    }

    @keyframes activeBtn {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-45deg);
        }
    }

    @keyframes DesactiveBtn {
        0% {
            transform: rotate(-45deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }


    .efectsBtn::after {
        content: "";
        position: absolute;
        right: 0%;
        bottom: 10px;
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 25%;
        animation: btnTranslateDesactive 1s forwards;
    }

    .efectsBtn::before {
        content: "";
        position: absolute;
        right: 0%;
        top: 10px;
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 25%;
        animation: btnTranslabtnTranslateDesactive 1s forwards;
    }

    .efectsBtn.active::after {
        animation: btnTranslateActiveAfter 1s forwards;
    }

    .efectsBtn.active::before {
        animation: btnTranslateActiveBefore 1s forwards;
    }

    .efectsBtn.desactive::after {
        animation: btnTranslateDesactiveAfter 1s ease forwards;
    }

    .efectsBtn.desactive::before {
        animation: btnTranslateDesactiveBefore 1s ease forwards;
    }

    @keyframes btnTranslateActiveAfter {
        0% {

            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(0px, 10px);
        }

        100% {

            transform: translate(0px, 10px) rotate(-90deg);
        }
    }

    @keyframes btnTranslateActiveBefore {
        0% {
            transform: translate(0px, 0px);

        }

        50% {
            opacity: 0;
            transform: translate(0px, -10px);
        }

        100% {
            opacity: 1;
            transform: translate(0px, -10px) rotate(-90deg);
        }
    }


    @keyframes btnTranslateDesactiveAfter {
        0% {

            transform: translate(0px, 10px) rotate(-90deg);
        }

        50% {

            transform: translate(0px, 10px) rotate(0deg);
        }

        100% {

            transform: translate(0px, 0px);
        }
    }

    @keyframes btnTranslateDesactiveBefore {
        0% {
            opacity: 0;
            transform: translate(0px, -10px) rotate(-90deg);
        }

        50% {
            opacity: 0;
            transform: translate(0px, -10px) rotate(0deg);
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }

    .navegaPgn.efectsBtn.desactive {
        position: absolute;

    }

    .navegaPgn.active {
        position: absolute;
        width: 100%;
        animation: navegadorActive 1s forwards;
        background-color: rgba(169, 11, 11, 0.2);
        backdrop-filter: blur(6px);
        z-index: 1000;
    }

    @keyframes navegadorActive {
        0% {
            opacity: 0;
            transform: translateY(-570px);
        }
        20% {
            opacity: 0;
            transform: translateY(-300px);
        }

        40% {
            opacity: 0;
            transform: translateY(-0px);
        }

        60% {
            opacity: 0.2;
            transform: translateY(35px);
        }

        80% {
            opacity: 0.2;
            transform: translateY(75px);
        }

        100% {
            opacity: 1;
            transform: translateY(70px);
        }
    }

    .navegaPgn.desactive {
        position: absolute;
        width: 100%;
        animation: navegadorDesactive 1s forwards;
    }


    @keyframes navegadorDesactive {
        0% {
            opacity: 1;
            transform: translateY(70px);
        }

        20% {
            opacity: 0.2;
            transform: translateY(35px);
        }

        40% {
            opacity: 0;
            transform: translateY(0px);
        }

        60% {
            opacity: 0;
        }

        100% {
            opacity: 0;
            transform: translateY(-500px);
        }
    }

    .controladorList {
        position: absolute;
        flex-direction: column;
        padding: 0px 0px 15px 0px !important;
        border-radius: 4%;
        margin: 0px !important;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        min-width: 120px;
        background-color: #156669;
        backdrop-filter: blur(6px);
    }

    .userImage {
        position: relative;
        top: -140px
    }

    .listPages {
        width: 100%;
        height: 100%;
        border: none !important;
    }

    .btnNavegador {
        width: 100%;
        justify-content: space-evenly;
    }

    #controleCentral {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btnNavegador {
        height: 100%;
        padding: 0px !important;
        border: none !important;
    }

    .btnNavegador:hover {
        border-color: transparent !important;
        color: rgba(6, 6, 105, 0.5) !important;
        font-weight: bold !important;
    }

    #page0:hover,
    #page1:hover,
    #page2:hover,
    #page3:hover,
    #page4:hover,
    #page5:hover {
        transform: none;
        color: rgb(6, 6, 105) !important;
        font-size: 1.2em;
        font-weight: bold !important;
        background-color: rgb(245, 247, 247) !important;
        transition: 0.5s;
    }
}